[
        {% for disktype in disktypes %}
          {% set disk_count = 0 %}
          {% for disk in disks if disk.type == disktype.type %}
            {% set disk_count =  disk_count  + 1 %}

            {% if disk.type == 'data' %}
              {% set opts = '-i ' ~ loop.index ~' -I 256' %}
              {% set size = '100%FREE' %}
              {% set tier = 'hdb' %}
            {% elif disk.type == 'log' %}
              {% set opts = '-i ' ~ loop.index ~' -I 64' %}
              {% set size = '100%FREE' %}
              {% set tier = 'hdb' %}
            {% elif disk.type == 'shared' %}
              {% set opts = '' %}
              {% set size = '100%FREE' %}
              {% set tier = 'hdb' %}
            {% elif disk.type == 'backup' %}
              {% if loop.index > 1 %}
                {% set opts = '-i ' ~ loop.index ~' -I 256' %}
              {% set size = '100%FREE' %}
                {% set tier = 'hdb' %}
              {% else %} 
                {% set size = '100%FREE' %}
                {% set opts = '' %}
              {% endif %} 
              {% set tier = 'hdb' %}
            {% if disk.type == 'sap' %}
              {% set size = '64g' %}
              {% set opts = '' %}
            {% elif disk.type == 'web' %}
              {% set size = '4g' %}
              {% set opts = '' %}
            {% else %}
              {% if loop.index > 1 %}
                {% set opts = '-i ' ~ loop.index ~' -I 256' %}
                {% set size = '100%FREE' %}
                {% set tier = 'hdb' %}
              {% else %} 
                {% set opts = '' %}
                {% set size = '100%FREE' %}
                {% set tier = 'all' %}
              {% endif %}
            {% endif %}


            {% set dummy =  disktype.update({'host': disk.host }) %}
            {% set dummy =  disktype.update({'tier': tier }) %}
            {% set dummy =  disktype.update({'opts': opts }) %}
            {% set dummy =  disktype.update({'vg': 'vg_' ~ disktype.type }) %}
            {% set dummy =  disktype.update({'lv': 'lv_' ~ disktype.type }) %}
            {% set dummy =  disktype.update({'size': size }) %}

          {% endfor %}
        {% endfor %}


        {% for disktype in disktypes %}
          {% if disktype.type == 'sap' %}
            {{ disktype }},
            {{ { 'tier' : 'preparation',  'host' : disktype.host, 'vg' : disktype.vg, 'type' : disktype.type, 'lv': 'lv_sapmnt',        'size' : '128g',      'opts' : '' } }},
            {{ { 'tier' : 'preparation',  'host' : disktype.host, 'vg' : disktype.vg, 'type' : disktype.type, 'lv': 'lv_usrsapinstall', 'size' : '100%FREE',  'opts' : '' } }},
            {{ { 'tier' : 'web',          'host' : disktype.host, 'vg' : disktype.vg, 'type' : disktype.type, 'lv': 'lv_sapmnt',        'size' : '1g',        'opts' : '' } }},
          {% else %}
            {{ disktype }},
          {% endif %}
        {% endfor %}
]