[
    {% for disk in disks if disk.host == inventory_hostname %}
        {% set disk_count = 0 %}
        {% set pvslist = [] %}
        {% for disktype in disktypes if disk.type == disktype.type %}
            {% set disk_count = disk_count + 1 %}
            {% set dummy = pvslist.append('/dev/disk/azure/scsi1/lun' ~ disk.LUN) %}
            {% set dummy = disktype.update({'host': disk.host }) %}
            {% set dummy = disktype.update({'vg': 'vg_' ~ disktype.type }) %}
            {% set dummy = disktype.update({'disk_count': disk_count }) %}
            {% set dummy = disktype.update({'pvs': pvslist | join(',') }) %}
        {% endfor %}
    {% endfor %}

    {% for disktype in disktypes %}
        {{ disktype }},
    {% endfor %}

]