{% set vgs = [] %}
{#
    Outer Loop: Loop over disk types
#}
{% for type in disktypes %}
{%     set pvlist = [] %}
{%     set disk_count = namespace(value=0) %}
{#
    Inner Loop: Loop over list of disks that match the execution host and the disk type
#}
{%     for disk in disks if (disk.host == inventory_hostname) and (disk.type == type.type) %}
{%         set disk_count.value = loop.index %}
{%         set record = pvlist.append('/dev/disk/azure/scsi1/lun' ~ disk.LUN) %}
{%     endfor %}
{#
    Map disk type to volume group name
#}
{%     if   type.type == 'sap' %}
{%         set vg = { 'vg': 'vg_sap', 'pvs': pvlist|join(','), 'diskcount': disk_count.value } %}
{%     elif type.type == 'data' %}
{%         set vg = { 'vg': 'vg_hana_data', 'pvs': pvlist|join(','), 'diskcount': disk_count.value  } %}
{%     elif type.type == 'log' %}
{%         set vg = { 'vg': 'vg_hana_log', 'pvs': pvlist|join(',') , 'diskcount': disk_count.value  } %}
{%     elif type.type == 'backup' %}
{%         set vg = { 'vg': 'vg_hana_backup', 'pvs': pvlist|join(','), 'diskcount': disk_count.value  } %}
{%     else %}
{%         set vg = { 'vg': 'vg_' ~ type.type, 'pvs': pvlist|join(','), 'diskcount': disk_count.value  } %}
{%     endif %}
{#
    Write Dictionary to List
#}
{%     set _ = vgs.append(vg) %}
{% endfor %}
{#
    Output List of Dictionaries
#}
{{ vgs }}
