# User rules for {{ hanasudoers_file }} with role {{ hanasudoers_role }}
{{ hdb_sid | lower }}adm ALL=(ALL) NOPASSWD: /usr/sbin/crm_attribute -n hana_{{ hdb_sid | lower }}_site_srHook_*
#{{ hdb_sid | lower }}adm ALL=(ALL) NOPASSWD:ALL
