[defaults]
host_key_checking = false
inventory = ${inventory}
private_key_file = ${private_key_file}

# Ref: https://docs.ansible.com/ansible/2.9/reference_appendices/interpreter_discovery.html
# Silence warnings about Python interpreter discovery
interpreter_python = auto_silent

# Ref: https://docs.ansible.com/ansible/2.9/plugins/callback/default.html
# Don't show skipped tasks
display_skipped_hosts = no

# Ref: https://docs.ansible.com/ansible/2.9/reference_appendices/config.html#default-callback-whitelist
# Show per-task profiling info and also a summary of longest
# running tasks at end of playbook run
callback_whitelist = profile_tasks

[callback_profile_tasks]
# Ref: https://docs.ansible.com/ansible/2.9/plugins/callback/profile_tasks.html
# Commented out defaults below
#task_output_limit = 20
#sort_order = descending
