---

bom_base_name:                 ${bom}
sapbits_location_base_path:    ${sapbits}
password_master:               ${pass}
sap_fqdn:                      ${dns}                      

# TERRAFORM CREATED
sap_sid:                       ${sid}
kv_uri:                        ${kv_uri}
secret_prefix:                 ${secret_prefix}
scs_high_availability:         ${scs_ha}
scs_lb_ip:                     ${scs_lb_ip}
db_high_availability:          ${db_ha}
db_lb_ip:                      ${db_lb_ip}
disks: 
%{~ for disk in disks }
  - ${disk} 
%{~ endfor }

...