---

bom_base_name:                 ${bom}

# TERRAFORM CREATED
sap_fqdn:                      ${dns}                      
sap_sid:                       ${sid}
hdb_sid:                       ${db_sid}
kv_uri:                        ${kv_uri}
secret_prefix:                 ${secret_prefix}
scs_high_availability:         ${scs_ha}
scs_lb_ip:                     ${scs_lb_ip}
db_high_availability:          ${db_ha}
db_lb_ip:                      ${db_lb_ip}
sap_mnt:                       ${sap_mnt}
disks: 
%{~ for disk in disks }
  - ${disk} 
%{~ endfor }

...